.nombre{
    
    padding-left: 30px;
}

.id{
     padding-left: 20px;

}

.precio{
    padding-right: 100px;

}

.edit{
    margin-left: 5px;
}

tr, table{
    border: 1px solid black;
    border-collapse: collapse;
}

*{
      text-align: left;

}

table{
    width:900px;
    height: 500px;
    margin-left: 200px;
}
