.nombre{
    
    padding-left: 30px;
}

.id{
     padding-left: 20px;

}

.precio{
    padding-right: 100px;

}
#thid{
    padding-left: 20px;
}

#thnom{
   
    padding-left: 30px;
}

#thprec{
    padding-right: 100px;
}
.edit{
    margin-left: 5px;
}

tr, table{
    border: 1px solid black;
    border-collapse: collapse;
}

*{
      text-align: left;

}

table{
    width:900px;
    height: 500px;
    margin-left: 200px;
}

h3{
    text-align: center;
}

#formu{
    margin-left: 580px;
}

label, input{
    margin-bottom: 10px;
}

.add-button{
    margin-left: 30px;
}